body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.intro,
.footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 300px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #e5e7eb;
  }

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 25px;
}

.intro {
    display: flex;
    padding: 50px 300px;
    justify-content: space-between;
}


.aw-head {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.aw-text {
    padding-bottom: 25px;
}

.sign-top,
.sign-bottom {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 25px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 25px;
}

.sign-top {
    margin-top: 8px;
}

.intro-img {
    width: 50%;
}

.information {
    padding: 30px 300px;
    color: #1f2937;
}

.info-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px; 
    font-weight: bolder; 
    padding-bottom: 30px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
}

.box-image {
    width: 150px;
    height: 150px;
    border: 2px solid;
    border-color: #3882f6;
    border-radius: 25px;
}

.box-text {
    width: 150px;
    text-align: center;
}

.quote {
    padding: 70px 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding-bottom: 15px;
}

.thor {
    font-weight: bolder;
    text-align: right;
    padding-right: 50px;
}

.call {
    padding: 50px 300px;
    display: flex;
    align-items: center;
}

.call-box {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 25px;
    margin: 50px 300px;
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cb-text-head {
    font-weight: bolder;
}

.sign-bottom {
    border: 2px solid #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}